body {
    font-family: 'Montserrat';
    text-align: center;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'montserrat-bold';
}


h4 {

    font-weight: bolder;
}

.heading-title {
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

/* containers */

.container-fluid {
    padding: 7% 15%;
}

/* sections */
.coloured-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

.p {
    color: #8f8f8f;
    font-weight: 400;
}


/* navigation bar */
.navbar-brand {
    font-family: 'ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding-left: 18px;
    padding-right: 18px;
}

.nav-link {
    font-family: 'montserrat';
    font-weight: thin;
    font-size: 1.2rem;
}


/* title section */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

/* download buttons */
.download-button {
    margin: 5% 3% 5% 0%;
}

/* title image */
.iphoneimg {
    transform: rotate(25deg);
    width: 60%;
    margin-left: 20%;
    position: absolute;
    right: 25%;
}

/* feature section */
#features {
    position: relative;
    z-index: 1;
}

.feature-text {
    font-size: 1.5rem;
    font-weight: bold;
}

.feature-box {

    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}


/* testimonial section */
#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* pricing section */

.price-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

#pricing {
    padding: 100px;
}

.pricing-col {
    padding: 3% 2%;
}

@media (max-width : 1028px) {
    .iphoneimg {
        position: static;
        transform: rotate(0);
    }

    #title {
        text-align: center;
    }
}


/* footer */

.text-f {
    color: #8f8f8f;
}

.btn-footer {
    margin: 20px 10px;
}